<ul class="nav">
                <li class="active">
                    <a href="#">
                        <i class="pe-7s-home"></i>
                        <p>Home</p>
                    </a>

                </li>
                <li>
                    <a href= "#">
                        <i class="pe-7s-user"></i>
                        <p>Members</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="pe-7s-note2"></i>
                        <p>View Log</p>
                    </a>
                </li>
                
</ul>
